body{
    width: 100%;
}
#titulo{
    padding-bottom: 2% ;
}

#img{
    width: 200px;
    height: 200px;
  
  }
.tudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    width: 700px !important;

}

.bg{padding: 2%;
    width: 100%;
    text-align: center;
}
#texto_link{
    width: 100%;
    text-align: center;
    padding: 2%;
}
#botao{
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
    margin: 2px;
}
.botao_final .button{
    display: flex;
    align-items: baseline;
    text-decoration: none;
    padding-left: 2px;
}
@media(max-width: 700px){
.form-signin {
    width: 100%;
    max-width: 330px;
    margin: auto;
  }
}


.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }